---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LogoText from "../components/icons/LogoText.astro";
import Headline from "../components/Headline.astro";

const { data: projects } = await getEntry("projects", "projects");
const { data: social } = await getEntry("social", "social");
---

<Layout title="">
  <header class="flex flex-col items-center py-10 md:py-20">
    <div
      class="scale-75 md:scale-100 border-white border-8 drop-shadow-lg rounded-full hover:scale-105 ease"
    >
      <bbt-logo></bbt-logo>
    </div>

    <p
      class="uppercase text-xs text-zinc-600 px-5 lg:px-8 mt-2 slashed-zero tracking-widest"
    >
      seit 2023
    </p>
    <LogoText
      class="mt-5 lg:mt-7 mb-1 lg:mb-3 scale-75 md:scale-100 fill-zinc-600"
    />
  </header>
  <main class="px-5 md:px-10 py-10 md:py-20">
    <Headline class="mb-12 lg:mb-28"> Proof of Work </Headline>
    <div class="grid grid-cols-1 gap-16 lg:gap-28">
      {
        projects.map(({ headline, description, link, image }, i) => (
          <Card
            headline={headline}
            url={link.url}
            label={link.label}
            description={description}
            imgSrc={image}
            position={i}
            category="pow"
          />
        ))
      }
    </div>

    <Headline class="mt-20 lg:mt-32 mb-10 lg:mb-16">Social</Headline>
    <div class="grid grid-cols-1 gap-8 lg:gap-16">
      {
        social.map(({ headline, description, link, image }, i) => (
          <Card
            headline={headline}
            url={link.url}
            label={link.label}
            description={description}
            imgSrc={image}
            position={i}
            category="social"
          />
        ))
      }
    </div>
  </main>
  <footer class="my-20 flex flex-col items-center p-4 text-zinc-400 uppercase">
    <aside class="flex flex-col items-center text-base md:text-xl">
      <p>
        Open Source bei
        <a
          href="https://github.com/BitcoinBeachTravemuende/website/"
          class="underline"
        >
          GitHub
        </a>.
      </p>
      <p>
        Gebaut mit
        <span class="mx-1 text-xl text-btc">♥</span> in Travemünde.
      </p>
    </aside>
  </footer>
</Layout>

<script>
  import "@bitcoinbeachtravemuende/bbt-logo";
</script>
