---
import ExternalButton from "./ExternalButton.astro";

type Category = "pow" | "social";

interface Props {
  url: string;
  imgSrc: string;
  label: String;
  position: number;
  headline: String;
  description?: string;
  category: Category;
  class?: String;
}

const {
  url,
  imgSrc,
  label,
  position,
  headline,
  description,
  category,
  class: className = "",
} = Astro.props;

const powLabel = "Proof of Work";
const powLabelShort = "PoW";
const socLabel = "Social Media";
const socLabelShort = "Social";
---

<a
  class={`group relative flex flex-col lg:flex-row lg:odd:flex-row-reverse w-full overflow-hidden bg-zinc-100 hover:bg-btc hover:scale-105  lg:h-96 cursor-pointer ease hover:shadow-xl rounded-2xl ${className}`}
  href={url}
>
  <div
    class="flex h-auto w-full flex-row gap-3 p-4 md:p-6 lg:h-full lg:w-2/3 lg:gap-6 lg:p-8 lg:group-odd:flex-row-reverse xl:w-1/2"
  >
    <div>
      <div
        class="flex flex-col items-center border-r-4 border-zinc-400 pr-3 text-zinc-400 group-hover:border-white group-hover:text-white lg:border-r-0 lg:group-odd:border-l-4 lg:group-odd:pl-3 lg:group-even:border-r-4 lg:group-even:pr-3"
      >
        <div class="text-2xl md:text-5xl lg:text-7xl">
          {position < 9 ? `0${position + 1}` : position + 1}
        </div>
        <span class="hidden text-xs uppercase leading-none lg:block">
          {category === "pow" ? powLabel : socLabel}
        </span>
        <span class="text-xs uppercase leading-none lg:hidden"
          >{category === "pow" ? powLabelShort : socLabelShort}</span
        >
      </div>
    </div>

    <div class="flex flex-1 flex-col">
      <div class="flex flex-1 flex-col">
        <h1
          class="mb-2 flex flex-row items-center text-2xl uppercase text-zinc-600 group-hover:text-white md:text-5xl lg:text-7xl"
        >
          {headline}
        </h1>

        {
          description && (
            <p class="max-w-[80%] pt-3 text-sm uppercase text-zinc-500 group-hover:text-white md:text-base lg:pt-5 lg:text-lg 2xl:text-2xl">
              {description}
            </p>
          )
        }
      </div>
    </div>
  </div>

  <div
    class="relative flex h-48 w-full bg-zinc-200 lg:h-full lg:w-1/3 xl:w-1/2"
  >
    <img
      src={imgSrc}
      class="h-full w-full object-cover saturate-50 group-hover:brightness-50 group-hover:saturate-100"
      alt=""
    />
    <ExternalButton
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white px-5 py-2 text-base uppercase text-zinc-500 shadow-lg group-hover:text-btc lg:text-xl"
      >{label}</ExternalButton
    >
  </div>
</a>
